﻿@{
    ViewBag.Title = "Home Page";
}

<h2>Index.cshtml</h2>
@*<button type="submit" @Action*@

<ul id="ulist">
    <li>Liste 1</li>
</ul>

@section Scripts {
    <script src="~/Scripts/app/local.js"></script>
}
