<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="UTF-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/app.css"/>

</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">

                </ul>
            </div>
        </div>
        <div ng-controller="EventController">
            <div class="row">
                <div class="span1">
                    <h2>{{event.name}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    <div><strong>Date:</strong>{{event.date}}</div>
                    <div><strong>Time:</strong>{{event.time}}</div>
                </div>
            </div>
        </div>
    </div>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/underscore-1.4.4.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/EventController.js"></script>
</body>
</html>